# vllm==0.10.2  ## install manually from local source
descript-audiotools==0.7.2
matplotlib==3.8.2
omegaconf
sentencepiece
librosa
gradio
ninja
modelscope
munch==4.0.0
loguru

# WeTextProcessing requires pynini and openfst.
# install openfst-1.8.3 manually first (required by pynini-2.1.6)
# `tn` is the actual package folder for `WeTextProcessing`
# so: `pip install WeTextProcessing` -> `import tn`
WeTextProcessing; platform_machine != "Darwin"
wetext; platform_system == "Darwin"

# if WeTextProcessing/tn fails, just use wetext instead.
## e.g. error like:
## Failed to load tn normalizers (/home/tangyan/miniconda3/envs/vllm-index/bin/../lib/libstdc++.so.6: version `GLIBCXX_3.4.32' not found 
## (required by /usr/local/lib/libfstmpdtscript.so.26))
# simply run `pip install wetext`
# but you'll need to update the load logic in indextts/utils/front.py (load function).

# torchcodec might fail during torchaudio.load()
# use soundfile as a fallback in indextts/utils/audio_io.py
soundfile

numpy<2     ## for compatibility with other packages